@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--bs-body-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head {
  height: 100px;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
  &Shadow {
    filter: drop-shadow(0px 5px 6px #302f2f5e);
  }
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  &Text {
    color: black;
  }
}

.nav-header {
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 20px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #343a40;
  transition: 0.2s;
  &:before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    left: -1px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.2s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('../src/icon/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked + .slider {
    background-color: #ec9e0c;
  }

  &:checked + .slider::before {
    transform: translateX(27px);
    background: white url('../src/icon/sunny.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sidebar {
  opacity: 0.6;
  cursor: pointer;
  display: none;
  &:hover {
    opacity: 1;
  }
}

.info-block {
  width: 100%;
  height: 590px;
  padding: 20px 0 50px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  &Shadow {
    filter: drop-shadow(0px 5px 6px #302f2f5e);
  }
  &-contacts {
    width: 100%;
    height: 590px;
    padding: 60px 0 20px 0;
    background-color: #262c33;
    clip-path: polygon(0 0, 100% 10%, 100% 98%, 0% 100%);
    margin-top: 0px;
    margin-bottom: 0px;
    &Shadow {
      filter: drop-shadow(0px 5px 6px #302f2f5e);
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: block;
  }
  .nav-header {
    display: none;
  }
}

.social {
  text-decoration: none;
  margin: 2px;
  &-light {
    color: #4e4e4e;
    &:hover {
      color: #000000;
    }
  }
  &-dark {
    color: #a7a7a7;
    &:hover {
      color: #ffffff;
    }
  }
  &:hover {
    border-right: 2px solid #db9c12;
  }
}

.headerMenu {
  display: flex;
  justify-content: center;
  position: relative;
  width: 92.5%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
  &::before {
    content: '';
    border-radius: 20px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
  }
  &Light {
    &::before {
      background-color: #adadad8e;
    }
  }
  &Dark {
    &::before {
      background-color: #f1f1f1af;
    }
  }
}

.cardHeader {
  width: 95%;
  margin: 0 auto;
  background: #ffffff00;
}

.copyright {
  width: 100%;
  height: max-content;
  text-align: right;
  margin: 5px 0 10px 0;
  padding: 10px 0 10px 0;
  background-color: #323c49;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  &Shadow {
    filter: drop-shadow(0px 5px 6px #302f2f5e);
  }
  &Text {
    margin-right: 10px;
    color: #ffffff;
  }
}
